<!--/footer class is used to stay the footer on the bottom of the page
-->
<footer class="footer row center-xs grey">
  <div class="col-xs-2">
    <div class="box">
      <div class="logo"></div>
    </div>
  </div>
</footer>