<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">EvalEasy</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">account_balance</i>Institución</a></li>
      <li><a href="#">Planificación</a></li>
    </ul>    
  </div>
</nav>

<!--<nav class="blue row around-xs">
  <div class="col-xs-2">
    <div class="box text-center">
      <div class="fa fa-calendar fa-3x white"></div>
      <h5 class="white">PERIODO ACADEMICO </h5>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="box text-center">
      <div class="fa fa-book fa-3x white"></div>
      <h5 class="white">CARRERA</h5>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="box">
      <div class="fa fa-list-ul fa-4x white"></div>
    </div>
  </div>
</nav>
-->