%nav.blue.row.around-xs
  .col-xs-2
    .box.text-center
      .fa.fa-calendar.fa-3x.white
      %h5.white PERIODO ACADEMICO 
  .col-xs-2
    .box.text-center
      .fa.fa-book.fa-3x.white
      %h5.white CARRERA
  .col-xs-2
    .box
      .fa.fa-list-ul.fa-4x.white




/  .container
/    .row.end-xs
/      .col-xs-6
/        .box
/          .fa.fa-user.fa-2x
/navbar.navbar-fixed-top.