<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s7">
        <!--<teacher-list info="user.institution_id"></teacher-list>-->
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s4">
                <span class="card-title title">Agentes Evaluadores</span>
              </div>
              <div class="input-field col s4 offset-s4">
                <input id="search" type="text" class="validate" ng-model="search">
                <label for="search">Buscar agentes evaluadores</label>
              </div>
            </div>
              <ul class="collapsible" data-collapsible="accordion">
                <li ng-repeat= "teacher in teachers | filter: search">
                  <div class="collapsible-header">
                    <div class="row">
                      <div class="col s1">
                        <i class="material-icons">keyboard_arrow_down</i>
                      </div>
                      <div class="col s10">
                        {{teacher.name}} {{teacher.last_name}}
                      </div>
                      <div class="col s1">
                        <i class="material-icons" ng-click="editTeacher(teacher)">edit</i>
                      </div>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="col s4">
                        <strong>Documento: </strong>{{teacher.identity_card}}
                      </div>
                      <div class="col s4">
                        <span>Teléfono: </span>{{teacher.phone}}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col s5 tabs-top-space">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a href="#one_teacher" class="teal-text text-darken-4">Agente Evaluador</a></li>
              <li class="tab col s6"><a href="#multiple_teacher" class="teal-text text-darken-4">Multiples Agentes evaluadores</a></li>
            </ul>
          </div>
          <div id="one_teacher" class="col s12">
            <teacher-create info="{{user.institution_id}}"></teacher-create>
          </div>
          <div id="multiple_teacher" class="col s12">
            <teachers-create info="{{user.institution_id}}"></teachers-create>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

