<div id="add_planning" class="modal modal-fixed-footer" ng-controller="PlanningCtrl">
  <div class="modal-content">
    <h4>Nueva planificación</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" ng-model="range_date_term.name">
            <label for="name">Nombre del Periodo Académico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="start_date" type="date" class="datepicker" ng-model="range_date_term.start_date">
            <label for="start_date">Fecha de inicio</label>
          </div>
          <div class="input-field col s6">
            <input id="end_date" type="date" class="datepicker" ng-model="range_date_term.end_date">
            <label for="end_date">Fecha Fin</label>
          </div>
          <!--<div class="input-field col s12">
            <select multiple ng-model="selected_subjects" ng-options="subject as subject.name for subject in ssubjects track by subject.id" required>
              <option value="" disabled selected>Seleccione la(s) Asignatura(s)</option>
            </select>
            <label>Asignaturas</label>
          </div>-->
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  $('select').material_select();
</script>