<div class="file-field input-field without-margin-top">
  <%= image_tag("empty_profile", class: "circle responsive-img", id: "profile-pic") %>
  <input type="file" accept="image/*" ng-model="profile_image" class="file-upload" ng-upload-change="readUrl()">
</div>