<i class="material-icons prefix">account_circle</i>
<input class="validate" type="text" name="nameElement" id="idElement" ng-model="model" required>
<p class="error-message">El campo es requerido {{nameElement.$invalid}}</p>
<label for="nameElement" data-error="Formato incorrecto">{{titleElement}}</label>