@import 'variables'
*
  margin: 0px
  padding: 0px
  color: $primary-text

.margin_top
  padding-top: 10px
.margin_left
  margin-left: 0px
.container
  padding-right: 100px
.margin-top
  margin-top: 50px
.link
  text-decoration: none
  &:hover
    color: $text-icon

