@import 'variables'
.nav
  padding-top: 10px
  height: 150px

.space-between
  padding-top: 15px
  padding-bottom: 15px

.space-right
  margin-right: 20px
.bottom-line
  border-bottom: 3px solid $light-primary-color
.color-side-nav
  background-color: $side-nav
.side-nav
  .institution-info
    padding-bottom: 15px
    background-color: white
  li
    a
      color: #b0bec5
      font-weight: bold
      font-size: 16px
      i
        color: #b0bec5 !important
        margin-right: 20px