<p>Bienvenido <%= @resource.email %> a EvalEasy!</p>

<p> Usted ha sido invitado para colaborar en EvalEasy, ingrese a través del siguiente link para activar su cuenta</p>

<p><%= link_to 'Activar cuenta', change_password_url(@resource, confirmation_token: @token) %></p>
<!--, reset_password_token: @resource.reset_password_token-->