<p>Bienvenido <%= "#{@resource.name} (#{@resource.email})"  %> a EvalEasy!</p>

<p> 多Has olvidado tu contrase単a? Si tu respuesta es afirmativa ingresa en el siguiente link para modificar tu contrase単a</p>

<p><%= link_to 'Cambiar contrase単a',  change_password_url(@resource, confirmation_token: @token) %></p>

