<p>Bienvenido <%= "#{@resource.name} (#{@resource.email})"  %> a EvalEasy!</p>

<p> Usted ha sido invitado para colaborar en EvalEasy, ingrese a través del siguiente link para activar su cuenta</p>

<p><%= link_to 'Activar Cuenta',  change_password_url(@resource, reset_password_token: @token) %></p>

