<div class="card">
  <div class="card-content">
      <div class="row">
        <form class="col s12" ng-submit="saveSubject()" name="sign" novalidate id="subjectForm">
          <div class="row">
            <div  ng-class="{'col s12': !edit, 'col s8': edit}">
              <span class="card-title title" ng-hide="edit">Agregar Asignatura</span>
              <span class="card-title title" ng-show="edit">Editar Asignatura</span>
            </div>
            <div class="offset-s2 col s2" ng-show="edit" ng-click="addEffect()">
              <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" ng-class="{'card-panel red darken-4': errors.length > 0}" ng-show="errors.length > 0"> 
              <ul>
                <li ng-repeat="error in errors"><span class="white-text">{{error}}</span></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" ng-model="subject.name" required>
              <label for="name">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="code" type="text" class="validate" ng-model="subject.code" min="0" max="200" step="1">
              <label for="code">Código</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" class="materialize-textarea" ng-model="subject.description"></textarea>
              <label for="description">Descripción:</label>
            </div>
          </div>
          <div class="center-align">
            <div class="row">
              <button ng-show="edit" type="submit" class="col s12 btn btn-large waves-effect indigo teal darken-4">
                Editar Asignatura
              </button>
              <button ng-hide="edit" type="submit" class="col s12 btn btn-large waves-effect indigo teal darken-4">
                Agregar Asignatura
              </button>
            </div>
          </div>
        </form>
      </div>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<!--
