<div class="container">
  <div class="row">
    <div class="col m6 s12 offset-m3 z-depth-1 grey lighten-4 auth-box">
      <div class="row space-top">
        <div class="col s12 center-align">
          <%= image_tag("logo", class: "logo") %>
          <h5 class="condensed">¿Olvidó su contraseña?</h5>
          <h6>Ingrese su correo electrónico para recibir un correo con instrucciones</h6>
        </div>
      </div>

      <form class="col l12" name="sign" ng-submit="sendResetPassword()" novalidate>
        <div class="row">
          <div class="input-field col s12" ng-class="{'card-panel red darken-4': error}" ng-if="error">
            <span class="white-text">{{error}}</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" ng-class="{'card-panel darken-4': success}" ng-if="success">
            <span class="white-text">{{success}}</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input class="validate" type="email" name="email" id="email" ng-model="user.email" required ng-focus="email=true" ng-blur="email=false" ng-class="{'tooltip-space-bottom': email || (forgot_password.email.$dirty && forgot_password.email.$invalid), 'error-border-bottom-red': forgot_password.email.$dirty && forgot_password.email.$invalid}">
            <p ng-show="forgot_password.email.$dirty && forgot_password.email.$error.required" class="error-message"> El correo electrónico es requerido</p>
            <p ng-show="forgot_password.email.$dirty && forgot_password.email.$error.email" class="error-message">Ingrese un correo válido</p>
            <p ng-show="email && !(forgot_password.email.$dirty && forgot_password.email.$invalid)" class="tooltip">Ej.: nombre@ejemplo.com</p> 
            <label for="email" data-error="Correo invalido">Correo Electrónico:</label>
          </div>
        </div>
        <div class="center-align">
          <div class="row">
            <button type="submit" class="col s12 btn btn-large waves-effect indigo teal darken-4" ng-disabled="!canSubmitSign()">Recuperar contraseña
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col m12 center-align">
            <a ui-sref="sign_in">Iniciar sesión</a>
          </div>
        </div>
        <div class="row">
          <div class="col m12 center-align">
            <a ui-sref="sign_up">Registrarme</a>
          </div>        
        </div>
        <div class="row">

        </div>
      </form>
    </div>
  </div>
</div>