<div class="row">
  <div class="col m6 s12 offset-m3 z-depth-1 grey lighten-4 auth-box">
    <div class="row space-top">
      <div class="col s12 center-align">
        <%= image_tag("logo", class: "logo") %>
        <h5 class="condensed">Iniciar sesión</h5>
      </div>
    </div>

    <form class="col l12" name="sign" ng-submit="login()" novalidate>
      <div class="row">
        <div class="input-field col s12" ng-class="{'card-panel red darken-4': error}" ng-if="error">
          <span class="white-text">{{error}}</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" ng-class="{'card-panel darken-4': success}" ng-if="success">
          <span class="white-text">{{success}}</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input class="validate" type="email" name="email" id="email" ng-model="user.email" required ng-focus="email=true" ng-blur="email=false" ng-class="{'tooltip-space-bottom': email || (sign.email.$dirty && sign.email.$invalid), 'error-border-bottom-red': sign.email.$dirty && sign.email.$invalid}">
          <p ng-show="sign.email.$dirty && sign.email.$error.required" class="error-message"> El correo electrónico es requerido</p>
          <p ng-show="sign.email.$dirty && sign.email.$error.email" class="error-message">Ingrese un correo válido</p>
          <p ng-show="email && !(sign.email.$dirty && sign.email.$invalid)" class="tooltip">Ej.: nombre@ejemplo.com</p> 
          <label for="email" data-error="Correo invalido">Correo Electrónico:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col l12">
          <i class="material-icons prefix">lock</i>
          <input class="validate" type="password" id="pwd" ng-model="user.password" pattern= ".{8,}" required name="password" ng-focus="password=true" ng-blur="password=false" ng-class="{'tooltip-space-bottom': password || sign.password.$dirty && sign.password.$invalid, 'error-border-bottom-red' : sign.password.$dirty && sign.password.$invalid}">
          <p ng-show="sign.password.$dirty && sign.password.$error.required" class="error-message">La contraseña es requerida</p>
          <p ng-show="sign.password.$dirty && sign.password.$error.pattern" class="error-message">La contraseña debe ser mayor a 8</p>
          <p ng-show="password && !(sign.password.$dirty && sign.password.$invalid)" class="tooltip">Debe ser mayor a 8 dígitos</p>
          <label for="pwd" data-error="Su contraseña debe tener mas de 8 dígitos">Contraseña:</label>
        </div>
      </div>
      <div class="center-align">
        <div class="row">
          <button type="submit" class="col s12 btn btn-large waves-effect indigo teal darken-4" ng-disabled="!canSubmitSign()">Iniciar Sesión
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col m5 offset-m7">
          <a ui-sref="sendResetPassword">¿Olvidó su contraseña?</a>
        </div>
      </div>
      <div class="row">
        <div class="col m5 offset-m7">
          <a ui-sref="sign_up">Registrarme</a>
        </div>        
      </div>
      <div class="row">

      </div>
    </form>
  </div>
</div>

<!--<div class="row center-xs">
    <div class="col-xs-4">
        <div class="box text-left">
            <div style="border:1px solid grey;padding:10px;">
              <h2>Iniciar Sesion</h2>
                <form name="sign" ng-submit="login()">
                  <div class="form-group" ng-class="{'has-error': error}">
                  <!--ng-show= "error"
                    <label class="control-label" ng-if="error" >{{error}}</label>
                  </div>
                  <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" name="email" class="form-control" id="email" ng-model="user.email" required>
                  </div>
                  <div class="form-group" >
                    <label for="pwd">Contraseña:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="user.password" pattern: ".{8,}" required>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="!canSubmitSign()" ng-class="{'dark-grey': !canSubmitSignUp(), 'green' : canSubmitSignUp() } " >Iniciar Sesión
                  </button>
                </form>
              <a ui-sref="sign_up">Registrarme</a>
            </div>
        </div>
    </div>
</div>-->
