<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<div class="contenedor ">
  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <div class="row center-align">
      <div class="col s12 center-align">
        <%= image_tag("logo", class: "logo")%>
        <h4 class="condensed">Registrarme en EvalEasy</h4>
      </div>
    </div>
    <form class="col s12" name="sign" ng-submit="login()">
      <div class="row">
        <div class="input-field col s12" ng-class="{'card-panel red accent-2': error}" ng-if="error">
          <span class="white-text">{{error}}</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input class="validate" type="text" name="nombre" id="name" ng-model="user.name" required>
          <label for="name" data-error="Verificar nombre">Nombre:</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" type="text" name="apellido" id="lastname" ng-model="user.last_name" required>
          <label for="lastname" data-error="Verificar apellido">Apellido:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">picture_in_picture</i>
          <input class="validate" type="text" name="cedula" id="identity_card" ng-model="user.identity_card" required>
          <label for="identity_card" data-error="Verificar cédula">Cédula:</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input class="validate" type="text" name="telefono" id="phone" ng-model="user.phone" required>
          <label for="phone" data-error="Verificar número de telefono">Teléfono:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <dropdown-institution institutions="institutions" model="user.institution" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input class="validate" type="email" name="correo" id="email" ng-model="user.email" required>
          <label for="email" data-error="Verificar correo">Correo Electrónico:</label>
        </div>
      </div>
    </form>
  </div>
</div>
<!--<div class="row center-xs text-left">
    <div class="col-xs-4">
        <div class="box">
            <div style="border:1px solid grey;padding:10px;">
                <h2>Registrarme</h2>
                 <form name="sign" ng-submit="register()">
                  <div class="form-group" >
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" ng-model="user.name" required>
                  </div>
                  <div class="form-group" >
                    <label for="name">Apellido:</label>
                    <input type="text" class="form-control" name="apellido" ng-model="user.last_name" required>
                  </div>
                  <div class="form-group" >
                    <label for="cedula">Cedula:</label>
                    <input type="text" class="form-control" name="cedula" ng-model="user.identity_card" required>
                  </div>
                  <div class="form-group" >
                    <label for="telefono">Telefono:</label>
                    <input type="text" class="form-control" name="telefono" ng-model="user.phone" required>
                  </div>
                  <div class="form-group">
                    <label for="institution">Institución</label>
                    <input type="text" id="query" ng-model="query" class="form-control">
                    <select class="form-control" ng-options="institution.id as institution.name for institution in (institutions | filter:query)" ng-model="user.institution_id" required>
                    </select>
                  </div>
                  <div class="form-group" >
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" name="correo" ng-model="user.email" required>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Contraseña:</label>
                    <input type="password" class="form-control " id="pwd" ng-model="user.password" name="password" pattern: ".{8,}" required>
                  </div>
                  <div class="form-group" ng-class="{'has-error':sign_up.passwordConfirmation.$error.match}">
                    <label for="pwd">Confirmar contraseña:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="user.passwordConfirmation" match="user.password" name="passwordConfirmation" match-ignore-empty="true" pattern: ".{8,}" required>
                    <label class="control-label" ng-show="sign_up.passwordConfirmation.$error.match" >Las contraseñas no coinciden, por favor verifique</label>
                  </div>
                  
                  
                  <button type="submit" class="btn btn-primary" ng-disabled="!canSubmitSign()" ng-class="{'dark-grey': !canSubmitSignUp(), 'green' : canSubmitSignUp() } ">Registrarme
                  </button>
                </form>
              <a ui-sref="sign_in">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>-->