<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="evalEasy">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>EvalEasy</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oxygen" rel="stylesheet"> 
  </head>
  <body ng-controller="NavCtrl" ng-class="{'bg-auth': !signedIn}">
    <div ng-include="'views/nav/_nav.html'"></div>
    <div class="container">
      <div ui-view ></div>
    </div>
  </body>
</html>

      <!--<div class="col s3" ng-include="'views/nav/_sideNav.html'">
        
      </div>-->