<!DOCTYPE html>
<html ng-app="evalEasy">
<head>
  <title>EvalEasy</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body >
  <h1>EvalEasy</h1>
  <div>
    <div ui-view></div>
  </div>
<%#= yield %>

</body>
</html>
